# Perguntas a serem respondidas:

Escolher as colunas para a análise ✅

Renomear as colunas ✅

Quantos foram os filmes/séries que assisti? ✅

Tipos: filmes, séries, curtas ✅

Qual o mais recente ✅

Qual o mais antigo ✅

Quais os gêneros

Quais os mais votados ✅

Qual o mais longo ✅

Qual o mais curto ✅

A nota média do IMDB ✅

relação votos x média

Quais o diretores

o número de documentários

o número de séries

Filmes assistidos por mês

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/2021.csv')

In [3]:
df.head()

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt8878862,2021-03-25,2021-03-25,NaN,Cidade Invisível,https://www.imdb.com/title/tt8878862/,tvSeries,7.3,60.0,2021,"Crime, Drama, Fantasy, Mystery, Thriller",5223,2021-02-05,NaN,10.0,2021-03-25
1,2,tt9140560,2021-03-31,2021-03-31,NaN,WandaVision,https://www.imdb.com/title/tt9140560/,tvMiniSeries,8.0,350.0,2021,"Action, Comedy, Drama, Fantasy, Sci-Fi",268626,2021-01-15,NaN,9.0,2021-04-02
2,3,tt10167284,2021-04-02,2021-04-02,NaN,Forky Asks a Question,https://www.imdb.com/title/tt10167284/,tvSeries,6.8,3.0,2019,"Animation, Short, Comedy, Family, Fantasy",1932,2019-11-12,NaN,NaN,NaN
3,4,tt0814255,2021-04-02,2021-04-02,NaN,Percy Jackson & the Olympians: The Lightning T...,https://www.imdb.com/title/tt0814255/,movie,5.9,118.0,2010,"Adventure, Family, Fantasy",185094,2010-02-10,Chris Columbus,NaN,NaN
4,5,tt1854564,2021-04-02,2021-04-02,NaN,Percy Jackson: Sea of Monsters,https://www.imdb.com/title/tt1854564/,movie,5.8,106.0,2013,"Adventure, Family, Fantasy",115844,2013-08-07,Thor Freudenthal,NaN,NaN

In [4]:
df.shape

(105, 17)

In [5]:
df['Title Type'].value_counts()

movie           77
tvSeries        18
short            2
tvMiniSeries     2
tvSpecial        2
tvEpisode        2
video            2
Name: Title Type, dtype: int64

In [6]:
df['Release Date'].sort_values()

82     1969-10-05
95     1979-01-26
93     1984-12-03
27     1988-06-14
83     1989-05-06
          ...
94     2021-11-25
99     2021-12-03
101    2021-12-05
97     2021-12-10
98     2021-12-13
Name: Release Date, Length: 105, dtype: object

In [7]:
# Mais antigo
df.loc[82]

Position                                             83
Const                                         tt0063929
Created                                      2021-11-01
Modified                                     2021-11-01
Description                                         NaN
Title                      Monty Python's Flying Circus
URL               https://www.imdb.com/title/tt0063929/
Title Type                                     tvSeries
IMDb Rating                                         8.8
Runtime (mins)                                       30
Year                                               1969
Genres                                           Comedy
Num Votes                                         72208
Release Date                                 1969-10-05
Directors                                           NaN
Your Rating                                         NaN
Date Rated                                          NaN
Name: 82, dtype: object

In [8]:
# Mais recente
df.loc[98]

Position                                              99
Const                                         tt10872600
Created                                       2021-12-17
Modified                                      2021-12-17
Description                                          NaN
Title                            Spider-Man: No Way Home
URL               https://www.imdb.com/title/tt10872600/
Title Type                                         movie
IMDb Rating                                          8.7
Runtime (mins)                                       148
Year                                                2021
Genres                Action, Adventure, Fantasy, Sci-Fi
Num Votes                                         457119
Release Date                                  2021-12-13
Directors                                      Jon Watts
Your Rating                                          NaN
Date Rated                                           NaN
Name: 98, dtype: object

In [9]:
df['Num Votes'].sort_values()

36         44
21         56
6          65
22        142
14        154
        ...
67     461635
44     531345
70     572210
100    604661
85     630237
Name: Num Votes, Length: 105, dtype: int64

In [10]:
# Filme com o menor número de votos
df.loc[36]

Position                                              37
Const                                         tt14033328
Created                                       2021-07-12
Modified                                      2021-07-12
Description                                          NaN
Title                                 Meu Amigo Bussunda
URL               https://www.imdb.com/title/tt14033328/
Title Type                                      tvSeries
IMDb Rating                                          8.2
Runtime (mins)                                       NaN
Year                                                2021
Genres                                       Documentary
Num Votes                                             44
Release Date                                  2021-06-16
Directors                                            NaN
Your Rating                                          NaN
Date Rated                                           NaN
Name: 36, dtype: object

In [11]:
# Filme com maior número de votos
df.loc[85]

Position                                             86
Const                                         tt0478970
Created                                      2021-11-02
Modified                                     2021-11-02
Description                                         NaN
Title                                           Ant-Man
URL               https://www.imdb.com/title/tt0478970/
Title Type                                        movie
IMDb Rating                                         7.3
Runtime (mins)                                      117
Year                                               2015
Genres                Action, Adventure, Comedy, Sci-Fi
Num Votes                                        630237
Release Date                                 2015-06-29
Directors                                   Peyton Reed
Your Rating                                         NaN
Date Rated                                          NaN
Name: 85, dtype: object

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Position        105 non-null    int64
 1   Const           105 non-null    object
 2   Created         105 non-null    object
 3   Modified        105 non-null    object
 4   Description     0 non-null      float64
 5   Title           105 non-null    object
 6   URL             105 non-null    object
 7   Title Type      105 non-null    object
 8   IMDb Rating     105 non-null    float64
 9   Runtime (mins)  102 non-null    float64
 10  Year            105 non-null    int64
 11  Genres          105 non-null    object
 12  Num Votes       105 non-null    int64
 13  Release Date    105 non-null    object
 14  Directors       85 non-null     object
 15  Your Rating     5 non-null      float64
 16  Date Rated      5 non-null      object
dtypes: float64(4), int64(3), object(10)
memory usage: 14.1+ KB

In [13]:
df.head() #Created, Title, Title Type, IMDB Rating, Runtime (mins), Year, Genres, Num Votes, Relase Date, Directors

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt8878862,2021-03-25,2021-03-25,NaN,Cidade Invisível,https://www.imdb.com/title/tt8878862/,tvSeries,7.3,60.0,2021,"Crime, Drama, Fantasy, Mystery, Thriller",5223,2021-02-05,NaN,10.0,2021-03-25
1,2,tt9140560,2021-03-31,2021-03-31,NaN,WandaVision,https://www.imdb.com/title/tt9140560/,tvMiniSeries,8.0,350.0,2021,"Action, Comedy, Drama, Fantasy, Sci-Fi",268626,2021-01-15,NaN,9.0,2021-04-02
2,3,tt10167284,2021-04-02,2021-04-02,NaN,Forky Asks a Question,https://www.imdb.com/title/tt10167284/,tvSeries,6.8,3.0,2019,"Animation, Short, Comedy, Family, Fantasy",1932,2019-11-12,NaN,NaN,NaN
3,4,tt0814255,2021-04-02,2021-04-02,NaN,Percy Jackson & the Olympians: The Lightning T...,https://www.imdb.com/title/tt0814255/,movie,5.9,118.0,2010,"Adventure, Family, Fantasy",185094,2010-02-10,Chris Columbus,NaN,NaN
4,5,tt1854564,2021-04-02,2021-04-02,NaN,Percy Jackson: Sea of Monsters,https://www.imdb.com/title/tt1854564/,movie,5.8,106.0,2013,"Adventure, Family, Fantasy",115844,2013-08-07,Thor Freudenthal,NaN,NaN

In [14]:
df1 = df[['Created', 'Title', 'Title Type', 'IMDb Rating', 'Runtime (mins)', 'Year', 'Genres', 'Num Votes', 'Release Date', 'Directors']]

In [15]:
df1

,Created,Title,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors
0,2021-03-25,Cidade Invisível,tvSeries,7.3,60.0,2021,"Crime, Drama, Fantasy, Mystery, Thriller",5223,2021-02-05,NaN
1,2021-03-31,WandaVision,tvMiniSeries,8.0,350.0,2021,"Action, Comedy, Drama, Fantasy, Sci-Fi",268626,2021-01-15,NaN
2,2021-04-02,Forky Asks a Question,tvSeries,6.8,3.0,2019,"Animation, Short, Comedy, Family, Fantasy",1932,2019-11-12,NaN
3,2021-04-02,Percy Jackson & the Olympians: The Lightning T...,movie,5.9,118.0,2010,"Adventure, Family, Fantasy",185094,2010-02-10,Chris Columbus
4,2021-04-02,Percy Jackson: Sea of Monsters,movie,5.8,106.0,2013,"Adventure, Family, Fantasy",115844,2013-08-07,Thor Freudenthal
...,...,...,...,...,...,...,...,...,...,...
100,2021-12-26,Frozen,movie,7.4,102.0,2013,"Animation, Adventure, Comedy, Family, Fantasy,...",604661,2013-11-10,"Jennifer Lee, Chris Buck"
101,2021-12-29,Don't Look Up,movie,7.2,138.0,2021,"Comedy, Drama, Sci-Fi",424787,2021-12-05,Adam McKay
102,2021-12-31,Venom: Let There Be Carnage,movie,6.0,97.0,2021,"Action, Adventure, Sci-Fi, Thriller",172827,2021-09-14,Andy Serkis
103,2021-12-31,David,short,7.1,11.0,2020,"Short, Comedy",486,2020-09-10,Zach Woods
104,2022-01-01,Ted Lasso,tvSeries,8.8,30.0,2020,"Comedy, Drama, Sport",164752,2020-08-14,NaN

In [16]:
df1 = df1.rename(columns={'Created': 'Adicionado', 'Title': 'Nome', 'Title Type': 'Tipo', 'IMDb Rating': 'Nota no IMDb', 'Runtime (mins)': 'Duração', 'Year': 'Ano de Lançamento', 'Genres': 'Gênero', 'Num Votes': 'Número de Votos', 'Release Date': 'Data de Lançamento', 'Directors': 'Diretores'})

In [17]:
df1.head(5)

,Adicionado,Nome,Tipo,Nota no IMDb,Duração,Ano de Lançamento,Gênero,Número de Votos,Data de Lançamento,Diretores
0,2021-03-25,Cidade Invisível,tvSeries,7.3,60.0,2021,"Crime, Drama, Fantasy, Mystery, Thriller",5223,2021-02-05,NaN
1,2021-03-31,WandaVision,tvMiniSeries,8.0,350.0,2021,"Action, Comedy, Drama, Fantasy, Sci-Fi",268626,2021-01-15,NaN
2,2021-04-02,Forky Asks a Question,tvSeries,6.8,3.0,2019,"Animation, Short, Comedy, Family, Fantasy",1932,2019-11-12,NaN
3,2021-04-02,Percy Jackson & the Olympians: The Lightning T...,movie,5.9,118.0,2010,"Adventure, Family, Fantasy",185094,2010-02-10,Chris Columbus
4,2021-04-02,Percy Jackson: Sea of Monsters,movie,5.8,106.0,2013,"Adventure, Family, Fantasy",115844,2013-08-07,Thor Freudenthal

In [18]:
# Títulos com menor duração (em minutos)
df1[['Nome', 'Duração']].sort_values(by='Duração').head()

                      Nome  Duração
2    Forky Asks a Question      3.0
32     Riley's First Date?      5.0
7                      Lou      7.0
103                  David     11.0
18    Love, Death & Robots     15.0

In [19]:
# Títulos com maior duração (em minutos)
df1[['Nome', 'Duração']].sort_values(by='Duração', ascending=False).head()

                       Nome  Duração
94    The Beatles: Get Back    468.0
1               WandaVision    350.0
56                    Tenet    150.0
98  Spider-Man: No Way Home    148.0
19         Army of the Dead    148.0

In [20]:
# Menor nota no IMDb
df1[['Nome', 'Nota no IMDb']].sort_values(by='Nota no IMDb').head(5)

                                   Nome  Nota no IMDb
66                Fifty Shades of Black           3.5
50  American Pie Presents: Girls' Rules           3.8
96                             Movie 43           4.3
78              Space Jam: A New Legacy           4.4
24                        Thunder Force           4.4

In [21]:
# Maior nota no IMDb
df1[['Nome', 'Nota no IMDb']].sort_values(by='Nota no IMDb', ascending=False).head(5)

                             Nome  Nota no IMDb
94          The Beatles: Get Back           9.1
104                     Ted Lasso           8.8
40                 Peaky Blinders           8.8
82   Monty Python's Flying Circus           8.8
83                       Seinfeld           8.8

In [22]:
df[df.Genres.str.contains('Short')]

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
2,3,tt10167284,2021-04-02,2021-04-02,NaN,Forky Asks a Question,https://www.imdb.com/title/tt10167284/,tvSeries,6.8,3.0,2019,"Animation, Short, Comedy, Family, Fantasy",1932,2019-11-12,NaN,NaN,NaN
7,8,tt6267732,2021-04-02,2021-04-02,NaN,Lou,https://www.imdb.com/title/tt6267732/,short,7.8,7.0,2017,"Animation, Short, Comedy, Family, Fantasy",7346,2017-03-12,Dave Mullins,NaN,NaN
18,19,tt9561862,2021-05-30,2021-05-30,NaN,"Love, Death & Robots",https://www.imdb.com/title/tt9561862/,tvSeries,8.4,15.0,2019,"Animation, Short, Action, Adventure, Comedy, D...",131487,2019-03-15,NaN,NaN,NaN
32,33,tt4941804,2021-07-04,2021-07-04,NaN,Riley's First Date?,https://www.imdb.com/title/tt4941804/,video,7.5,5.0,2015,"Animation, Short, Comedy, Family, Romance",7534,2015-10-13,Josh Cooley,NaN,NaN
103,104,tt12974818,2021-12-31,2021-12-31,NaN,David,https://www.imdb.com/title/tt12974818/,short,7.1,11.0,2020,"Short, Comedy",486,2020-09-10,Zach Woods,NaN,NaN

In [23]:
df[df['Title Type'] == 'short']

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
7,8,tt6267732,2021-04-02,2021-04-02,NaN,Lou,https://www.imdb.com/title/tt6267732/,short,7.8,7.0,2017,"Animation, Short, Comedy, Family, Fantasy",7346,2017-03-12,Dave Mullins,NaN,NaN
103,104,tt12974818,2021-12-31,2021-12-31,NaN,David,https://www.imdb.com/title/tt12974818/,short,7.1,11.0,2020,"Short, Comedy",486,2020-09-10,Zach Woods,NaN,NaN

In [40]:
# Capturando somente o gênero principal de cada filme.
# Adicionando à coluna GENRES os valores editados.
result = []
for i in df.Genres:
    split_string = i.split(",", 1)
    #print(split_string[0])
    result.append(split_string[0])
    

result

df["Genres"] = result

In [43]:
df.drop(["result"], axis=1, inplace=True)

In [44]:
df

,Position,Const,Created,Modified,Description,Title,URL,Title Type,IMDb Rating,Runtime (mins),Year,Genres,Num Votes,Release Date,Directors,Your Rating,Date Rated
0,1,tt8878862,2021-03-25,2021-03-25,NaN,Cidade Invisível,https://www.imdb.com/title/tt8878862/,tvSeries,7.3,60.0,2021,Crime,5223,2021-02-05,NaN,10.0,2021-03-25
1,2,tt9140560,2021-03-31,2021-03-31,NaN,WandaVision,https://www.imdb.com/title/tt9140560/,tvMiniSeries,8.0,350.0,2021,Action,268626,2021-01-15,NaN,9.0,2021-04-02
2,3,tt10167284,2021-04-02,2021-04-02,NaN,Forky Asks a Question,https://www.imdb.com/title/tt10167284/,tvSeries,6.8,3.0,2019,Animation,1932,2019-11-12,NaN,NaN,NaN
3,4,tt0814255,2021-04-02,2021-04-02,NaN,Percy Jackson & the Olympians: The Lightning T...,https://www.imdb.com/title/tt0814255/,movie,5.9,118.0,2010,Adventure,185094,2010-02-10,Chris Columbus,NaN,NaN
4,5,tt1854564,2021-04-02,2021-04-02,NaN,Percy Jackson: Sea of Monsters,https://www.imdb.com/title/tt1854564/,movie,5.8,106.0,2013,Adventure,115844,2013-08-07,Thor Freudenthal,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100,101,tt2294629,2021-12-26,2021-12-26,NaN,Frozen,https://www.imdb.com/title/tt2294629/,movie,7.4,102.0,2013,Animation,604661,2013-11-10,"Jennifer Lee, Chris Buck",NaN,NaN
101,102,tt11286314,2021-12-29,2021-12-29,NaN,Don't Look Up,https://www.imdb.com/title/tt11286314/,movie,7.2,138.0,2021,Comedy,424787,2021-12-05,Adam McKay,NaN,NaN
102,103,tt7097896,2021-12-31,2021-12-31,NaN,Venom: Let There Be Carnage,https://www.imdb.com/title/tt7097896/,movie,6.0,97.0,2021,Action,172827,2021-09-14,Andy Serkis,NaN,NaN
103,104,tt12974818,2021-12-31,2021-12-31,NaN,David,https://www.imdb.com/title/tt12974818/,short,7.1,11.0,2020,Short,486,2020-09-10,Zach Woods,NaN,NaN
104,105,tt10986410,2022-01-01,2022-01-01,NaN,Ted Lasso,https://www.imdb.com/title/tt10986410/,tvSeries,8.8,30.0,2020,Comedy,164752,2020-08-14,NaN,NaN,NaN